openapi: 3.1.0
info:
  title: Neural Draft Project API
  version: "1.0.0"
  summary: The AI-native backend platform for Lovable / Claude / v0 / Bolt-built sites.
  description: |
    The **Neural Draft Project API** is the single REST contract every AI-built
    site, MCP server tool call, and SDK in our ecosystem speaks against. One
    project key (`ndsk_live_...`) gets you CMS, blog, social, booking and
    commerce primitives behind a stable v1 surface.

    ## Quick start

    ```bash
    curl https://api.neuraldraft.io/v1/projects/me \
      -H "Authorization: Bearer ndsk_live_yourkey"
    ```

    ## Authentication

    Every endpoint except `GET /health` requires a project API key passed as
    `Authorization: Bearer ndsk_live_...`. Keys are scoped to a single project
    (formerly "tenant"). Resolve the project context by calling
    `GET /projects/me`.

    Keys carry one or more **scopes** (e.g. `content:write`, `commerce:admin`).
    A `403 Forbidden` is returned if the key lacks the scope required by the
    endpoint.

    ## Credits

    Most operations cost credits. Costs are documented per endpoint in this
    spec and on the [pricing page](https://neuraldraft.io/pricing). When a
    project has no credits left, every credit-consuming operation returns
    `402 Payment Required` with `code: out_of_credits`.

    Read-only endpoints (`GET`) do not consume credits unless explicitly noted.

    ## Rate limits

    Default project budget is **60 requests per minute**, burst **120**. Every
    response includes:

    | Header | Meaning |
    |---|---|
    | `X-RateLimit-Limit` | Window ceiling |
    | `X-RateLimit-Remaining` | Requests left in window |
    | `X-RateLimit-Reset` | Unix seconds when bucket refills |
    | `Retry-After` | Seconds to wait, only on `429` |

    Enterprise plans get higher budgets — contact sales.

    ## Async work

    Long-running operations (blog generation, image generation, batch
    translation, content plans, full website generation) return a
    [`Job`](#tag/Jobs) resource immediately with `202 Accepted` and
    `status: pending`. Two ways to track progress:

    1. **Poll** `GET /jobs/{id}` until `status` is one of `completed`,
       `failed` or `cancelled`.
    2. **Stream** `GET /jobs/{id}/stream` for a Server-Sent Events feed of
       `progress`, `step`, `done`, `error` events.

    ## Webhooks

    Outgoing webhooks let your project URL receive events (e.g.
    `order.paid`, `blog_post.published`). Manage delivery URLs at
    [`/webhook-endpoints`](#tag/Webhooks). Every delivery is signed with
    HMAC-SHA256:

    ```
    X-Neural-Draft-Signature: t=1745000000,v1=<hex_hmac_sha256(body, secret)>
    X-Neural-Draft-Event: order.paid
    X-Neural-Draft-Delivery: <uuid>
    ```

    Verify the timestamp is within 5 minutes and the HMAC matches before
    trusting the payload.

    ## Idempotency

    Mutating endpoints accept an `Idempotency-Key` header (any unique string
    up to 255 chars). Retries with the same key within 24 hours return the
    original response without re-executing the side effect.

    ## Errors

    All errors follow [RFC 7807](https://datatracker.ietf.org/doc/html/rfc7807)
    `application/problem+json` shape. The `code` field is a stable machine
    identifier; the `detail` is a human-readable explanation.
  termsOfService: https://neuraldraft.io/legal/terms
  contact:
    name: Neural Draft Developer Support
    email: developers@neuraldraft.io
    url: https://neuraldraft.io/support
  license:
    name: Proprietary
    url: https://neuraldraft.io/legal/api-license
  x-logo:
    url: https://neuraldraft.io/assets/logo-dark.svg
    altText: Neural Draft
servers:
  - url: https://api.neuraldraft.io/v1
    description: Production
  - url: https://api.staging.neuraldraft.io/v1
    description: Staging
security:
  - apiKeyAuth: []
tags:
  - name: Health
    description: Liveness, version, and the runtime OpenAPI document.
  - name: Projects
    description: |
      Project (formerly "tenant") metadata, API key management, and credit usage.
      Every API key resolves to exactly one project.
  - name: Brand
    description: |
      Canonical brand context — voice, colors, fonts, audience, content tone.
      This is the single source of truth that the MCP server's `brand://current`
      resource exposes to AI codegen tools.
  - name: Content
    description: |
      The CMS pillar. Translation keys map `dot.notation` keys to per-language
      values. Use `bulk` for build-time fetches of many keys at once.
  - name: Components
    description: |
      Editable HTML chunks registered by AI codegen tools during a build session.
      A registered component becomes editable in the project's admin UI.
  - name: Images
    description: Brand-consistent image generation, replacement, and resolution by key.
  - name: Blog
    description: |
      Full blog engine — posts, categories, tags, scheduling, multi-language
      translation, AI authoring pipeline.
  - name: Social
    description: |
      Social pillar — multi-platform post generation, scheduling, publishing,
      OAuth account connections.
  - name: Booking
    description: |
      Booking pillar — bookable services, weekly availability, slot lookup,
      bookings (admin + public), embeddable widget.
  - name: Commerce
    description: |
      Commerce pillar — products, variants, categories, orders, Stripe
      Checkout, Stripe Connect onboarding, embeddable widgets.
  - name: Jobs
    description: |
      Async work tracking. Every long-running AI op (blog gen, image gen,
      translation, content plan, website gen) returns a Job. Poll or stream.
  - name: Webhooks
    description: |
      Outgoing webhooks. Subscribe a URL to events your project cares about.
      All deliveries signed with HMAC-SHA256.
  - name: Forms
    description: |
      Lead-capture surfaces — newsletter subscribe and contact-form submit.
      Public submit endpoints (no auth, project resolved via
      `X-NeuralDraft-Project-Key` or `?project_id=`); admin list/delete
      endpoints require an API key with `forms:read` / `forms:write` scope.
      No credits charged — this is storage + delivery, not AI.
x-tagGroups:
  - name: Getting started
    tags: [Health, Projects, Brand]
  - name: CMS
    tags: [Content, Components, Images, Forms]
  - name: Content marketing
    tags: [Blog, Social]
  - name: Operations
    tags: [Booking, Commerce]
  - name: Async & integrations
    tags: [Jobs, Webhooks]
paths:
  /health:
    get:
      tags: [Health]
      summary: Liveness probe
      description: |
        Lightweight liveness check. **Does not require authentication** and
        does not consume credits or count against rate limits. Useful for
        load balancers, uptime monitors, and SDK preflight checks.
      operationId: getHealth
      security: []
      responses:
        "200":
          description: Service is up.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Health"
              examples:
                ok:
                  value:
                    status: ok
                    version: "1.0.0"
                    uptime_s: 184523
        "429": { $ref: "#/components/responses/TooManyRequests" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl https://api.neuraldraft.io/v1/health
        - lang: node
          label: Node (SDK)
          source: |
            import { NeuralDraft } from "@neuraldraft/sdk";
            const nd = new NeuralDraft();
            const health = await nd.health.check();
            console.log(health.status); // "ok"
        - lang: python
          label: Python (requests)
          source: |
            import requests
            r = requests.get("https://api.neuraldraft.io/v1/health")
            r.raise_for_status()
            print(r.json()["status"])
        - lang: php
          label: PHP (Guzzle)
          source: |
            <?php
            $client = new \GuzzleHttp\Client();
            $res = $client->get('https://api.neuraldraft.io/v1/health');
            $body = json_decode((string) $res->getBody(), true);
            echo $body['status'];
  /openapi.json:
    get:
      tags: [Health]
      summary: Serve this OpenAPI document
      description: |
        Returns the live OpenAPI 3.1 document. SDK generators and Mintlify
        fetch this at build time. Identical to the `openapi.yaml` checked into
        the repository, but always reflects the deployed contract.
      operationId: getOpenApiDocument
      security: []
      responses:
        "200":
          description: The OpenAPI document.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404": { $ref: "#/components/responses/NotFound" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl https://api.neuraldraft.io/v1/openapi.json > openapi.json
        - lang: node
          label: Node
          source: |
            const res = await fetch("https://api.neuraldraft.io/v1/openapi.json");
            const spec = await res.json();
        - lang: python
          label: Python
          source: |
            import requests, json
            spec = requests.get("https://api.neuraldraft.io/v1/openapi.json").json()
        - lang: php
          label: PHP
          source: |
            <?php
            $spec = json_decode(file_get_contents('https://api.neuraldraft.io/v1/openapi.json'), true);
  /projects/me:
    get:
      tags: [Projects]
      summary: Get the current project
      description: |
        Returns the project resolved from the API key in the request. Used by
        SDKs and the MCP server to bootstrap context (which project this key
        belongs to, what languages are configured, etc.).

        Read-only. Does not consume credits.
      operationId: getCurrentProject
      responses:
        "200":
          description: The project for this API key.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
              examples:
                yoga_studio:
                  summary: A yoga studio
                  value:
                    id: prj_2NfQmBcKpXY8
                    name: Lakeside Yoga
                    slug: lakeside-yoga
                    industry: wellness
                    default_language: en
                    target_languages: [en, fr, de]
                    timezone: Europe/London
                    plan: hobby
                    created_at: "2026-02-14T09:31:18Z"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "500": { $ref: "#/components/responses/InternalServerError" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl https://api.neuraldraft.io/v1/projects/me \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            import { NeuralDraft } from "@neuraldraft/sdk";
            const nd = new NeuralDraft({ apiKey: process.env.ND_API_KEY });
            const project = await nd.projects.me();
        - lang: python
          label: Python
          source: |
            import os, requests
            r = requests.get(
                "https://api.neuraldraft.io/v1/projects/me",
                headers={"Authorization": f"Bearer {os.environ['ND_API_KEY']}"},
            )
            project = r.json()
        - lang: php
          label: PHP
          source: |
            <?php
            $client = new \GuzzleHttp\Client(['base_uri' => 'https://api.neuraldraft.io/v1/']);
            $res = $client->get('projects/me', ['headers' => ['Authorization' => 'Bearer '.getenv('ND_API_KEY')]]);
            $project = json_decode((string)$res->getBody(), true);
    patch:
      tags: [Projects]
      summary: Update the current project
      description: |
        Updates project-level metadata. Use this to change the display name,
        timezone, default language, or to add/remove target languages.

        Adding a new target language **does not** auto-translate existing
        content — call `POST /content/{key}/translate` or
        `POST /blog-posts/{id}/translate` for that.

        Read-only fields (`id`, `slug`, `created_at`, `plan`) are ignored.
      operationId: updateCurrentProject
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectUpdate"
            examples:
              add_language:
                summary: Add German as a target language
                value:
                  target_languages: [en, fr, de]
              rename:
                summary: Rename and change timezone
                value:
                  name: Lakeside Yoga & Wellness
                  timezone: Europe/Paris
      responses:
        "200":
          description: Updated project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
              examples:
                renamed:
                  value:
                    id: prj_2NfQmBcKpXY8
                    name: Lakeside Yoga & Wellness
                    slug: lakeside-yoga
                    industry: wellness
                    default_language: en
                    target_languages: [en, fr, de]
                    timezone: Europe/Paris
                    plan: hobby
                    created_at: "2026-02-14T09:31:18Z"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X PATCH https://api.neuraldraft.io/v1/projects/me \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -H "Content-Type: application/json" \
              -d '{"target_languages":["en","fr","de"]}'
        - lang: node
          label: Node (SDK)
          source: |
            await nd.projects.update({ targetLanguages: ["en","fr","de"] });
        - lang: python
          label: Python
          source: |
            requests.patch(
                "https://api.neuraldraft.io/v1/projects/me",
                headers={"Authorization": f"Bearer {key}"},
                json={"target_languages": ["en","fr","de"]},
            )
        - lang: php
          label: PHP
          source: |
            <?php
            $client->patch('projects/me', [
              'headers' => ['Authorization' => 'Bearer '.$key],
              'json' => ['target_languages' => ['en','fr','de']],
            ]);
  /projects/me/usage:
    get:
      tags: [Projects]
      summary: Get credit usage for the current period
      description: |
        Returns current credit balance, period boundaries, and a breakdown of
        credits consumed by operation type since the period started.

        The period resets monthly on the same calendar day the project was
        created. Top-up credits do not expire and are consumed only after the
        plan allowance for the period is exhausted.
      operationId: getProjectUsage
      parameters:
        - in: query
          name: period
          schema:
            type: string
            enum: [current, previous]
            default: current
          description: Which billing period to return.
      responses:
        "200":
          description: Usage object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Usage"
              examples:
                hobby_user:
                  value:
                    period_start: "2026-04-01T00:00:00Z"
                    period_end: "2026-05-01T00:00:00Z"
                    plan: hobby
                    plan_credits: 5000
                    topup_credits: 2000
                    credits_used: 3260
                    credits_remaining: 3740
                    breakdown:
                      - op: blog_post.generate
                        count: 4
                        credits: 1600
                      - op: social_post.generate
                        count: 32
                        credits: 800
                      - op: image.generate
                        count: 18
                        credits: 720
                      - op: chat.message
                        count: 9
                        credits: 135
                      - op: storage.gb_month
                        count: 0.4
                        credits: 6
        "401": { $ref: "#/components/responses/Unauthorized" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl https://api.neuraldraft.io/v1/projects/me/usage \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            const usage = await nd.projects.usage();
            console.log(`${usage.credits_remaining} credits left`);
        - lang: python
          label: Python
          source: |
            usage = requests.get(
                "https://api.neuraldraft.io/v1/projects/me/usage",
                headers={"Authorization": f"Bearer {key}"},
            ).json()
        - lang: php
          label: PHP
          source: |
            <?php
            $usage = json_decode((string) $client->get('projects/me/usage', [
              'headers' => ['Authorization' => 'Bearer '.$key],
            ])->getBody(), true);
  /projects/me/api-keys:
    get:
      tags: [Projects]
      summary: List API keys
      description: |
        Lists all API keys belonging to the current project. The full secret
        value is only shown once — at creation time. This endpoint returns
        masked previews (`ndsk_live_…XYZ`).
      operationId: listApiKeys
      responses:
        "200":
          description: Array of keys.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ApiKey" }
              examples:
                two_keys:
                  value:
                    data:
                      - id: key_2NfQB5GdkY9P
                        name: Production server
                        prefix: ndsk_live_
                        masked: ndsk_live_…7yQp
                        scopes: [content:read, content:write, commerce:read]
                        last_used_at: "2026-04-19T08:14:02Z"
                        created_at: "2026-02-14T09:32:00Z"
                      - id: key_2NgZBcmNop12
                        name: Lovable build session
                        prefix: ndsk_live_
                        masked: ndsk_live_…aA12
                        scopes: ["*"]
                        last_used_at: null
                        created_at: "2026-04-12T13:02:11Z"
        "401": { $ref: "#/components/responses/Unauthorized" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl https://api.neuraldraft.io/v1/projects/me/api-keys \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            const keys = await nd.projects.apiKeys.list();
        - lang: python
          label: Python
          source: |
            keys = requests.get(
                "https://api.neuraldraft.io/v1/projects/me/api-keys",
                headers={"Authorization": f"Bearer {key}"},
            ).json()["data"]
        - lang: php
          label: PHP
          source: |
            <?php
            $keys = json_decode((string) $client->get('projects/me/api-keys', [
              'headers' => ['Authorization' => 'Bearer '.$key],
            ])->getBody(), true)['data'];
    post:
      tags: [Projects]
      summary: Create an API key
      description: |
        Creates a new API key for the current project. The full secret is
        returned **once** in the `secret` field — store it immediately. After
        the response, only the masked preview is retrievable.

        Scopes follow `pillar:permission` syntax. Use `*` for full access.
      operationId: createApiKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKeyCreate"
            examples:
              ci_key:
                summary: Read-only CI key
                value:
                  name: CI builds
                  scopes: [content:read, blog:read]
              full:
                summary: Full-access dev key
                value:
                  name: Local dev
                  scopes: ["*"]
      responses:
        "201":
          description: |
            The created key. The `secret` field is included **only in this
            response** — store it now.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyWithSecret"
              examples:
                created:
                  value:
                    id: key_2Ngc7HpQrZk1
                    name: CI builds
                    prefix: ndsk_live_
                    masked: ndsk_live_…aB91
                    secret: ndsk_live_a5oqV2uY3sR8mD7fK9hP4tWcXeZi6jLg7yQpaB91
                    scopes: [content:read, blog:read]
                    last_used_at: null
                    created_at: "2026-04-19T10:02:00Z"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X POST https://api.neuraldraft.io/v1/projects/me/api-keys \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -H "Content-Type: application/json" \
              -d '{"name":"CI builds","scopes":["content:read","blog:read"]}'
        - lang: node
          label: Node (SDK)
          source: |
            const key = await nd.projects.apiKeys.create({
              name: "CI builds",
              scopes: ["content:read", "blog:read"],
            });
            console.log(key.secret); // store immediately
        - lang: python
          label: Python
          source: |
            r = requests.post(
                "https://api.neuraldraft.io/v1/projects/me/api-keys",
                headers={"Authorization": f"Bearer {key}"},
                json={"name": "CI builds", "scopes": ["content:read", "blog:read"]},
            )
            secret = r.json()["secret"]
        - lang: php
          label: PHP
          source: |
            <?php
            $created = json_decode((string) $client->post('projects/me/api-keys', [
              'headers' => ['Authorization' => 'Bearer '.$key],
              'json' => ['name' => 'CI builds', 'scopes' => ['content:read','blog:read']],
            ])->getBody(), true);
  /projects/me/api-keys/{key_id}:
    parameters:
      - $ref: "#/components/parameters/KeyIdPath"
    delete:
      tags: [Projects]
      summary: Revoke an API key
      description: |
        Permanently revokes the key. Subsequent requests authenticating with
        the revoked secret return `401 Unauthorized`. Cannot be undone.
        Revoking your last key locks you out of the API — be careful.
      operationId: revokeApiKey
      responses:
        "204":
          description: Revoked.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X DELETE https://api.neuraldraft.io/v1/projects/me/api-keys/key_2Ngc7HpQrZk1 \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            await nd.projects.apiKeys.revoke("key_2Ngc7HpQrZk1");
        - lang: python
          label: Python
          source: |
            requests.delete(
                f"https://api.neuraldraft.io/v1/projects/me/api-keys/{key_id}",
                headers={"Authorization": f"Bearer {key}"},
            )
        - lang: php
          label: PHP
          source: |
            <?php
            $client->delete("projects/me/api-keys/{$keyId}", [
              'headers' => ['Authorization' => 'Bearer '.$key],
            ]);
  /brand:
    get:
      tags: [Brand]
      summary: Get the brand context
      description: |
        Returns the canonical brand object — voice, audience, content tone,
        colors, fonts, and goals. This is what the MCP server exposes as
        `brand://current` so AI codegen tools can write on-brand copy and
        styling automatically.

        Read-only. Does not consume credits.
      operationId: getBrand
      responses:
        "200":
          description: The brand object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Brand"
              examples:
                yoga_brand:
                  value:
                    voice: warm, grounded, inviting; avoids hype
                    audience: women 30-55 in greater London seeking stress relief
                    content_tone: friendly_professional
                    content_goals: [drive_class_signups, build_email_list]
                    preferred_topics: [breathwork, beginner_yoga, prenatal_yoga, mindfulness]
                    colors:
                      primary:
                        hex: "#3F6B5C"
                        name: deep sage
                      secondary:
                        hex: "#E8DCC4"
                        name: linen
                    fonts:
                      heading: Fraunces
                      body: Inter
                    logo_url: https://cdn.neuraldraft.io/prj_2NfQmBcKpXY8/logo.svg
                    description: A boutique yoga studio in Richmond offering small-group classes.
        "401": { $ref: "#/components/responses/Unauthorized" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl https://api.neuraldraft.io/v1/brand \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            const brand = await nd.brand.get();
        - lang: python
          label: Python
          source: |
            brand = requests.get(
                "https://api.neuraldraft.io/v1/brand",
                headers={"Authorization": f"Bearer {key}"},
            ).json()
        - lang: php
          label: PHP
          source: |
            <?php
            $brand = json_decode((string) $client->get('brand', [
              'headers' => ['Authorization' => 'Bearer '.$key],
            ])->getBody(), true);
    patch:
      tags: [Brand]
      summary: Update the brand context
      description: |
        Partial update of the brand object. Any field omitted from the body is
        left unchanged. To clear a field, send `null` explicitly.

        Updating brand colors does **not** retroactively recolor generated
        images or already-published content. It changes future generations
        only. Issue follow-up `POST /images/{key}` calls to regenerate
        existing assets with the new palette.
      operationId: updateBrand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BrandUpdate"
            examples:
              recolor:
                summary: Update primary brand color
                value:
                  colors:
                    primary:
                      hex: "#2A4A3C"
                      name: forest
              tone_shift:
                summary: Shift content tone to playful
                value:
                  content_tone: playful
                  voice: bright, witty, a little cheeky
      responses:
        "200":
          description: Updated brand.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Brand"
              examples:
                recolored:
                  value:
                    voice: warm, grounded, inviting; avoids hype
                    audience: women 30-55 in greater London seeking stress relief
                    content_tone: friendly_professional
                    content_goals: [drive_class_signups, build_email_list]
                    preferred_topics: [breathwork, beginner_yoga, prenatal_yoga, mindfulness]
                    colors:
                      primary: { hex: "#2A4A3C", name: forest }
                      secondary: { hex: "#E8DCC4", name: linen }
                    fonts: { heading: Fraunces, body: Inter }
                    logo_url: https://cdn.neuraldraft.io/prj_2NfQmBcKpXY8/logo.svg
                    description: A boutique yoga studio in Richmond offering small-group classes.
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X PATCH https://api.neuraldraft.io/v1/brand \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -H "Content-Type: application/json" \
              -d '{"colors":{"primary":{"hex":"#2A4A3C","name":"forest"}}}'
        - lang: node
          label: Node (SDK)
          source: |
            await nd.brand.update({
              colors: { primary: { hex: "#2A4A3C", name: "forest" } },
            });
        - lang: python
          label: Python
          source: |
            requests.patch(
                "https://api.neuraldraft.io/v1/brand",
                headers={"Authorization": f"Bearer {key}"},
                json={"colors": {"primary": {"hex": "#2A4A3C", "name": "forest"}}},
            )
        - lang: php
          label: PHP
          source: |
            <?php
            $client->patch('brand', [
              'headers' => ['Authorization' => 'Bearer '.$key],
              'json' => ['colors' => ['primary' => ['hex' => '#2A4A3C', 'name' => 'forest']]],
            ]);
  /content/bulk:
    get:
      tags: [Content]
      summary: Bulk read content keys
      description: |
        Returns values for many translation keys in one round trip. Designed
        for build-time / SSG fetches: pass every key your page references and
        get a flat `{key: value}` map back.

        Cacheable — the response includes `Cache-Control: public, max-age=60`
        and an `ETag`. Re-fetch with `If-None-Match` to revalidate cheaply.

        Read-only. Does not consume credits.
      operationId: getContentBulk
      parameters:
        - in: query
          name: keys
          required: true
          schema:
            type: string
          description: |
            Comma-separated list of translation keys. Up to 200 per request.
            Keys use `dot.notation` (e.g. `hero.headline,hero.cta,footer.copy`).
          example: hero.headline,hero.cta,footer.copy
        - in: query
          name: lang
          schema:
            type: string
            example: en
          description: |
            BCP-47 language tag. Defaults to the project's default language.
            Falls back to default language if a key is not translated.
        - in: query
          name: scope
          schema:
            type: string
            enum: [page, component]
          description: Optional filter — limit to keys tied to a specific scope type.
        - in: query
          name: scope_id
          schema:
            type: integer
          description: Used together with `scope` to filter further.
      responses:
        "200":
          description: Map of key → value.
          headers:
            ETag:
              schema: { type: string }
              description: Strong ETag for the result set.
            Cache-Control:
              schema: { type: string }
              description: Caching directive — typically `public, max-age=60`.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
                example:
                  hero.headline: Find your calm, one breath at a time
                  hero.cta: Book a class
                  footer.copy: © 2026 Lakeside Yoga
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl "https://api.neuraldraft.io/v1/content/bulk?keys=hero.headline,hero.cta&lang=en" \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            const map = await nd.content.bulk(["hero.headline", "hero.cta"], { lang: "en" });
        - lang: python
          label: Python
          source: |
            r = requests.get(
                "https://api.neuraldraft.io/v1/content/bulk",
                params={"keys": "hero.headline,hero.cta", "lang": "en"},
                headers={"Authorization": f"Bearer {key}"},
            )
            content_map = r.json()
        - lang: php
          label: PHP
          source: |
            <?php
            $map = json_decode((string) $client->get('content/bulk', [
              'query' => ['keys' => 'hero.headline,hero.cta', 'lang' => 'en'],
              'headers' => ['Authorization' => 'Bearer '.$key],
            ])->getBody(), true);
  /content/{key}:
    parameters:
      - $ref: "#/components/parameters/ContentKeyPath"
    get:
      tags: [Content]
      summary: Read a single content value
      description: |
        Returns the resolved value for the given key in the requested
        language, plus all available locales for the key.

        Read-only. Does not consume credits.
      operationId: getContentKey
      parameters:
        - in: query
          name: lang
          schema: { type: string, example: en }
          description: BCP-47 language tag. Defaults to project default.
      responses:
        "200":
          description: The content value.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentValue"
              examples:
                hero_headline:
                  value:
                    key: hero.headline
                    value: Find your calm, one breath at a time
                    lang: en
                    all_locales:
                      en: Find your calm, one breath at a time
                      fr: Trouvez votre calme, une respiration à la fois
                      de: Finden Sie Ihre Ruhe, einen Atemzug nach dem anderen
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl "https://api.neuraldraft.io/v1/content/hero.headline?lang=fr" \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            const v = await nd.content.get("hero.headline", { lang: "fr" });
        - lang: python
          label: Python
          source: |
            v = requests.get(
                "https://api.neuraldraft.io/v1/content/hero.headline",
                params={"lang": "fr"},
                headers={"Authorization": f"Bearer {key}"},
            ).json()
        - lang: php
          label: PHP
          source: |
            <?php
            $v = json_decode((string) $client->get('content/hero.headline', [
              'query' => ['lang' => 'fr'],
              'headers' => ['Authorization' => 'Bearer '.$key],
            ])->getBody(), true);
    put:
      tags: [Content]
      summary: Set a content value
      description: |
        Upserts the value for a key in a specific language. If the key does
        not exist, it is created. If `lang` is omitted, the project's default
        language is used.

        Fires a `content.changed` webhook event to subscribers.
      operationId: putContentKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContentValueInput"
            examples:
              en_update:
                value:
                  lang: en
                  value: Welcome to Lakeside Yoga
              fr_update:
                value:
                  lang: fr
                  value: Bienvenue à Lakeside Yoga
      responses:
        "200":
          description: Updated value.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ContentValue"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X PUT "https://api.neuraldraft.io/v1/content/hero.headline" \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -H "Content-Type: application/json" \
              -d '{"lang":"en","value":"Welcome to Lakeside Yoga"}'
        - lang: node
          label: Node (SDK)
          source: |
            await nd.content.set("hero.headline", { lang: "en", value: "Welcome to Lakeside Yoga" });
        - lang: python
          label: Python
          source: |
            requests.put(
                "https://api.neuraldraft.io/v1/content/hero.headline",
                headers={"Authorization": f"Bearer {key}"},
                json={"lang": "en", "value": "Welcome to Lakeside Yoga"},
            )
        - lang: php
          label: PHP
          source: |
            <?php
            $client->put('content/hero.headline', [
              'headers' => ['Authorization' => 'Bearer '.$key],
              'json' => ['lang' => 'en', 'value' => 'Welcome to Lakeside Yoga'],
            ]);
    delete:
      tags: [Content]
      summary: Delete a content key
      description: |
        Removes the key and all of its translations. Cannot be undone.
        Fires a `content.changed` webhook event with `action: deleted`.
      operationId: deleteContentKey
      responses:
        "204": { description: Deleted. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X DELETE "https://api.neuraldraft.io/v1/content/legacy.banner" \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            await nd.content.delete("legacy.banner");
        - lang: python
          label: Python
          source: |
            requests.delete(
                "https://api.neuraldraft.io/v1/content/legacy.banner",
                headers={"Authorization": f"Bearer {key}"},
            )
        - lang: php
          label: PHP
          source: |
            <?php
            $client->delete('content/legacy.banner', [
              'headers' => ['Authorization' => 'Bearer '.$key],
            ]);
  /content/{key}/translate:
    parameters:
      - $ref: "#/components/parameters/ContentKeyPath"
    post:
      tags: [Content]
      summary: Translate a content key
      description: |
        Asynchronously translates the value of `key` from the source language
        (default: project default) to one or more target languages.

        Returns a [`Job`](#tag/Jobs) with `type: translation.batch`. Poll
        `GET /jobs/{id}` or stream `/jobs/{id}/stream` for progress.

        Costs **70 credits per target language**. See [pricing](https://neuraldraft.io/pricing).
      operationId: translateContentKey
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_langs]
              properties:
                source_lang:
                  type: string
                  description: Source language. Defaults to project default.
                  example: en
                target_langs:
                  type: array
                  items: { type: string }
                  minItems: 1
                  example: [fr, de, es]
            examples:
              three_langs:
                value: { target_langs: [fr, de, es] }
      responses:
        "202":
          description: Translation job queued.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
              examples:
                queued:
                  value:
                    id: job_2Ngd9KqLmRpW
                    type: translation.batch
                    status: pending
                    progress: 0
                    created_at: "2026-04-19T10:14:02Z"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X POST "https://api.neuraldraft.io/v1/content/hero.headline/translate" \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -H "Content-Type: application/json" \
              -d '{"target_langs":["fr","de","es"]}'
        - lang: node
          label: Node (SDK)
          source: |
            const job = await nd.content.translate("hero.headline", { targetLangs: ["fr","de","es"] });
            const finished = await nd.jobs.wait(job.id);
        - lang: python
          label: Python
          source: |
            job = requests.post(
                "https://api.neuraldraft.io/v1/content/hero.headline/translate",
                headers={"Authorization": f"Bearer {key}"},
                json={"target_langs": ["fr","de","es"]},
            ).json()
        - lang: php
          label: PHP
          source: |
            <?php
            $job = json_decode((string) $client->post('content/hero.headline/translate', [
              'headers' => ['Authorization' => 'Bearer '.$key],
              'json' => ['target_langs' => ['fr','de','es']],
            ])->getBody(), true);
  /components/register:
    post:
      tags: [Components]
      summary: Register an editable HTML component
      description: |
        Used by AI codegen tools (and the MCP server's `register_component`
        tool) during a build session. The tool says: "I just generated this
        hero section — register it as editable in the project's admin."

        Neural Draft parses the HTML, extracts every `data-translate="key"`
        attribute, creates the corresponding translation keys, and stores
        the HTML as a Component. The component then appears in the project
        admin as editable, and the MCP server can stream changes back via
        `content.changed` webhooks.

        Costs **0 credits** — registration itself is free. Future edits
        invoked through this component go through the standard content/image
        endpoints with their normal pricing.
      operationId: registerComponent
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ComponentRegisterInput" }
            examples:
              hero:
                summary: Register a hero section
                value:
                  html: |
                    <section class="hero" data-nd-component="hero">
                      <h1 data-translate="hero.headline">Find your calm</h1>
                      <p data-translate="hero.subhead">Boutique yoga in Richmond</p>
                      <a href="#book" data-translate="hero.cta">Book a class</a>
                    </section>
                  intent: marketing_hero
                  page_slug: home
      responses:
        "201":
          description: Component registered.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Component" }
              examples:
                registered:
                  value:
                    id: cmp_2Ngd9KqLmRpW
                    intent: marketing_hero
                    page_slug: home
                    html: |
                      <section class="hero" data-nd-component="hero">
                        <h1 data-translate="hero.headline">Find your calm</h1>
                        <p data-translate="hero.subhead">Boutique yoga in Richmond</p>
                        <a href="#book" data-translate="hero.cta">Book a class</a>
                      </section>
                    keys_created: [hero.headline, hero.subhead, hero.cta]
                    created_at: "2026-04-19T10:14:02Z"
                    updated_at: "2026-04-19T10:14:02Z"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X POST https://api.neuraldraft.io/v1/components/register \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -H "Content-Type: application/json" \
              -d @hero.json
        - lang: node
          label: Node (SDK)
          source: |
            const cmp = await nd.components.register({ html, intent: "marketing_hero", pageSlug: "home" });
        - lang: python
          label: Python
          source: |
            cmp = requests.post(
                "https://api.neuraldraft.io/v1/components/register",
                headers={"Authorization": f"Bearer {key}"},
                json={"html": html, "intent": "marketing_hero", "page_slug": "home"},
            ).json()
        - lang: php
          label: PHP
          source: |
            <?php
            $cmp = json_decode((string) $client->post('components/register', [
              'headers' => ['Authorization' => 'Bearer '.$key],
              'json' => ['html' => $html, 'intent' => 'marketing_hero', 'page_slug' => 'home'],
            ])->getBody(), true);
  /components:
    get:
      tags: [Components]
      summary: List components
      operationId: listComponents
      description: Read-only. Does not consume credits.
      parameters:
        - in: query
          name: page_slug
          schema: { type: string }
          description: Filter by the page the component belongs to.
        - in: query
          name: intent
          schema: { type: string }
          description: Filter by registered intent (e.g. `marketing_hero`).
        - $ref: "#/components/parameters/PageQuery"
        - $ref: "#/components/parameters/PageSizeQuery"
      responses:
        "200":
          description: Paginated component list.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginationEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/Component" }
              examples:
                two_components:
                  value:
                    data:
                      - id: cmp_2Ngd9KqLmRpW
                        intent: marketing_hero
                        page_slug: home
                        html: "<section class=\"hero\">…</section>"
                        keys_created: [hero.headline, hero.subhead, hero.cta]
                        created_at: "2026-04-19T10:14:02Z"
                        updated_at: "2026-04-19T10:14:02Z"
                      - id: cmp_2NgeZRsTuVwX
                        intent: testimonial_grid
                        page_slug: home
                        html: "<section class=\"testimonials\">…</section>"
                        keys_created: [testimonials.lead, testimonials.cta]
                        created_at: "2026-04-19T10:18:11Z"
                        updated_at: "2026-04-19T10:18:11Z"
                    meta: { page: 1, page_size: 20, total: 2 }
        "401": { $ref: "#/components/responses/Unauthorized" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl https://api.neuraldraft.io/v1/components?page_slug=home \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            const list = await nd.components.list({ pageSlug: "home" });
        - lang: python
          label: Python
          source: |
            list = requests.get(
                "https://api.neuraldraft.io/v1/components",
                params={"page_slug": "home"},
                headers={"Authorization": f"Bearer {key}"},
            ).json()
        - lang: php
          label: PHP
          source: |
            <?php
            $list = json_decode((string) $client->get('components', [
              'query' => ['page_slug' => 'home'],
              'headers' => ['Authorization' => 'Bearer '.$key],
            ])->getBody(), true);
  /components/{id}:
    parameters:
      - $ref: "#/components/parameters/ComponentIdPath"
    get:
      tags: [Components]
      summary: Get a component
      description: Read-only. Does not consume credits.
      operationId: getComponent
      responses:
        "200":
          description: The component.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Component" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl https://api.neuraldraft.io/v1/components/cmp_2Ngd9KqLmRpW \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            const cmp = await nd.components.get("cmp_2Ngd9KqLmRpW");
        - lang: python
          label: Python
          source: |
            cmp = requests.get(
                f"https://api.neuraldraft.io/v1/components/{id}",
                headers={"Authorization": f"Bearer {key}"},
            ).json()
        - lang: php
          label: PHP
          source: |
            <?php
            $cmp = json_decode((string) $client->get("components/{$id}", [
              'headers' => ['Authorization' => 'Bearer '.$key],
            ])->getBody(), true);
    put:
      tags: [Components]
      summary: Update component HTML
      description: |
        Replace the registered HTML of a component. New `data-translate`
        attributes create new content keys; removed attributes leave their
        underlying keys orphaned (they are NOT auto-deleted, since they
        may be referenced elsewhere).
      operationId: updateComponent
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ComponentUpdateInput" }
      responses:
        "200":
          description: Updated component.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Component" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X PUT https://api.neuraldraft.io/v1/components/cmp_2Ngd9KqLmRpW \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -H "Content-Type: application/json" \
              -d '{"html":"<section>…</section>"}'
        - lang: node
          label: Node (SDK)
          source: |
            await nd.components.update("cmp_2Ngd9KqLmRpW", { html });
        - lang: python
          label: Python
          source: |
            requests.put(
                f"https://api.neuraldraft.io/v1/components/{id}",
                headers={"Authorization": f"Bearer {key}"},
                json={"html": html},
            )
        - lang: php
          label: PHP
          source: |
            <?php
            $client->put("components/{$id}", [
              'headers' => ['Authorization' => 'Bearer '.$key],
              'json' => ['html' => $html],
            ]);
    delete:
      tags: [Components]
      summary: Delete a component
      operationId: deleteComponent
      responses:
        "204": { description: Deleted. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X DELETE https://api.neuraldraft.io/v1/components/cmp_2Ngd9KqLmRpW \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            await nd.components.delete("cmp_2Ngd9KqLmRpW");
        - lang: python
          label: Python
          source: |
            requests.delete(
                f"https://api.neuraldraft.io/v1/components/{id}",
                headers={"Authorization": f"Bearer {key}"},
            )
        - lang: php
          label: PHP
          source: |
            <?php
            $client->delete("components/{$id}", [
              'headers' => ['Authorization' => 'Bearer '.$key],
            ]);
  /pages:
    get:
      tags: [Pages]
      summary: List pages
      description: |
        Paginated list of `TenantPage` rows. Filter by `type` (landing,
        blog_list, blog_post, legal) or `is_active`. Pages are ordered with
        the homepage first, then alphabetically by slug.
      operationId: listPages
      security:
        - apiKeyAuth: []
      parameters:
        - in: query
          name: type
          schema: { type: string, enum: [landing, blog_list, blog_post, legal] }
        - in: query
          name: is_active
          schema: { type: boolean }
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: page_size
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Page' }
                  meta:
                    type: object
                    properties:
                      page: { type: integer }
                      page_size: { type: integer }
                      total: { type: integer }
                      last_page: { type: integer }
        '401':
          description: Missing or invalid API key.
        '403':
          description: API key lacks `pages:read` scope.
    post:
      tags: [Pages]
      summary: Create a page
      description: |
        Create a `TenantPage` with optional SEO meta. Promoting a page to
        homepage demotes any previously-homepage page.

        **Free** — does not consume credits.
      operationId: createPage
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PageCreateInput' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Page' }
        '409':
          description: A page with that slug already exists.
  /pages/{id_or_slug}:
    get:
      tags: [Pages]
      summary: Fetch a page by id or slug
      operationId: getPage
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: id_or_slug
          required: true
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Page' }
        '404':
          description: Not found.
    patch:
      tags: [Pages]
      summary: Update a page (merge semantics on meta)
      description: |
        Only fields you pass are overwritten — meta keys you omit are
        preserved. Pass an explicit `null` to clear a meta field. Path
        parameter must be the numeric id (not slug) for this endpoint.
      operationId: updatePage
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: id_or_slug
          required: true
          schema: { type: integer }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PageUpdateInput' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Page' }
        '404':
          description: Page not found.
        '409':
          description: Slug collision with another page.
    delete:
      tags: [Pages]
      summary: Soft-retire (default) or hard-delete (force=1) a page
      description: |
        By default sets `is_active=false`. Pass `?force=1` to hard delete.
        Refuses to delete the homepage.
      operationId: deletePage
      security:
        - apiKeyAuth: []
      parameters:
        - in: path
          name: id_or_slug
          required: true
          schema: { type: integer }
        - in: query
          name: force
          schema: { type: boolean, default: false }
      responses:
        '204': { description: No content }
        '422': { description: Cannot delete the homepage. }
  /videos:
    post:
      tags: [Videos]
      summary: Generate a premium video clip
      description: |
        Kicks off a premium short-form video generation (Kling v2.1 /
        Runway Gen4). Charges **100 credits** per call. Returns a
        [`Job`](#tag/Jobs) with `type: video.generate`; poll
        `GET /jobs/{id}` for completion.
      operationId: generateVideo
      security:
        - apiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prompt]
              properties:
                prompt:
                  type: string
                  minLength: 3
                  maxLength: 2000
                  description: |
                    What the video should show. Use visual / cinematic
                    language: action verbs, camera movement, mood.
                aspect_ratio:
                  type: string
                  enum: ['1:1', '16:9', '9:16', '4:3', '3:4', '3:2', '2:3']
                  default: '9:16'
                duration_seconds:
                  type: integer
                  minimum: 3
                  maximum: 30
                  default: 5
                visual_style:
                  type: string
                  maxLength: 200
                platforms:
                  type: array
                  items:
                    type: string
                    enum: [facebook, instagram, twitter, tiktok, linkedin]
      responses:
        '202':
          description: Job queued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: '#/components/schemas/Job' }
        '402':
          description: Insufficient credits.
  /images:
    get:
      tags: [Images]
      summary: List registered images
      description: |
        Paginated list of image keys registered for the project (e.g. via
        `register_image`, `generate_image`, or multipart upload). Optional
        `prefix` narrows by user-key prefix. Read-only. Does not consume credits.
      operationId: listImages
      parameters:
        - in: query
          name: prefix
          schema: { type: string, example: "hero." }
          description: Filter by user-key prefix (e.g. `hero.` returns hero.background, hero.foreground).
        - in: query
          name: page
          schema: { type: integer, minimum: 1, default: 1 }
        - in: query
          name: page_size
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
      responses:
        "200":
          description: Paginated image list.
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Image" }
                  meta:
                    type: object
                    properties:
                      page: { type: integer }
                      page_size: { type: integer }
                      total: { type: integer }
                      last_page: { type: integer }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl "https://api.neuraldraft.io/v1/images?prefix=hero." \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            const { data } = await nd.images.list({ prefix: "hero." });
    post:
      tags: [Images]
      summary: Generate or upload an image
      description: |
        Two modes — discriminated by the request `Content-Type`:

        1. **AI generation** (`application/json`) — kicks off async generation
           inheriting the project's brand context. Returns a [`Job`](#tag/Jobs)
           with `type: image.generate`. On completion, `result` contains
           `{ url, key, width, height }`. Costs **40 credits**.
        2. **Direct upload** (`multipart/form-data`) — synchronous swap with
           the uploaded file bytes. `file` and `key` are required. Returns the
           registered [`Image`](#/components/schemas/Image) immediately. Costs
           **0 credits**. Max 10MB; jpg/jpeg/png/webp/gif/svg only.
      operationId: createImage
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ImageGenerateInput" }
            examples:
              hero:
                value:
                  prompt: A serene yoga studio at dawn, soft sage and linen tones, no people
                  style: photorealistic
                  aspect_ratio: "16:9"
                  key: hero.background
          multipart/form-data:
            schema:
              type: object
              required: [file, key]
              properties:
                file:
                  type: string
                  format: binary
                  description: Image file (jpg/jpeg/png/webp/gif/svg). Max 10MB.
                key:
                  type: string
                  pattern: "^[\\w.\\-\\/]+$"
                  example: hero.background
                  description: Stable image key.
      responses:
        "201":
          description: Image uploaded (multipart mode).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Image" }
        "202":
          description: Generation job queued (JSON mode).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413":
          description: Uploaded file exceeds 10MB (multipart mode).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Error" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
      x-codeSamples:
        - lang: curl
          label: cURL (AI)
          source: |
            curl -X POST https://api.neuraldraft.io/v1/images \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -H "Content-Type: application/json" \
              -d '{"prompt":"Serene yoga studio at dawn","style":"photorealistic","aspect_ratio":"16:9","key":"hero.background"}'
        - lang: curl
          label: cURL (upload)
          source: |
            curl -X POST https://api.neuraldraft.io/v1/images \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -F "file=@hero.jpg" \
              -F "key=hero.background"
        - lang: node
          label: Node (SDK — AI)
          source: |
            const job = await nd.images.generate({ prompt: "Serene yoga studio", aspect_ratio: "16:9", key: "hero.background" });
            const done = await nd.jobs.poll(job.id);
            console.log(done.result.url);
        - lang: node
          label: Node (SDK — upload)
          source: |
            const file = await fs.openAsBlob("hero.jpg");
            const img = await nd.images.upload("hero.background", file);
            console.log(img.url);
        - lang: python
          label: Python (AI)
          source: |
            job = requests.post(
                "https://api.neuraldraft.io/v1/images",
                headers={"Authorization": f"Bearer {key}"},
                json={"prompt": "Serene yoga studio", "aspect_ratio": "16:9", "key": "hero.background"},
            ).json()
        - lang: php
          label: PHP
          source: |
            <?php
            $job = json_decode((string) $client->post('images', [
              'headers' => ['Authorization' => 'Bearer '.$key],
              'json' => ['prompt' => 'Serene yoga studio', 'aspect_ratio' => '16:9', 'key' => 'hero.background'],
            ])->getBody(), true);
  /images/{key}:
    parameters:
      - $ref: "#/components/parameters/ImageKeyPath"
    get:
      tags: [Images]
      summary: Resolve an image by key
      description: |
        Returns the resolved CDN URL for an image registered under `key`.
        Useful for build-time fetches alongside `/content/bulk`. Read-only.
        Does not consume credits.
      operationId: getImage
      responses:
        "200":
          description: The image.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Image" }
              examples:
                resolved:
                  value:
                    key: hero.background
                    url: https://cdn.neuraldraft.io/prj_2NfQmBcKpXY8/hero-background-89hf.jpg
                    width: 2048
                    height: 1152
                    bytes: 482911
                    mime_type: image/jpeg
                    generated: true
                    created_at: "2026-04-19T10:21:02Z"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl https://api.neuraldraft.io/v1/images/hero.background \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            const img = await nd.images.get("hero.background");
        - lang: python
          label: Python
          source: |
            img = requests.get(
                "https://api.neuraldraft.io/v1/images/hero.background",
                headers={"Authorization": f"Bearer {key}"},
            ).json()
        - lang: php
          label: PHP
          source: |
            <?php
            $img = json_decode((string) $client->get('images/hero.background', [
              'headers' => ['Authorization' => 'Bearer '.$key],
            ])->getBody(), true);
    put:
      tags: [Images]
      summary: Replace an image
      description: |
        Three replacement modes:

        1. **Upload** — `multipart/form-data` with a `file` part. Synchronous;
           returns the updated [`Image`](#/components/schemas/Image). 0 credits.
           Max 10MB; jpg/jpeg/png/webp/gif/svg only.
        2. **Direct URL** — `application/json` with `{ url }`. Synchronous;
           returns the updated [`Image`](#/components/schemas/Image). 0 credits.
        3. **Regenerate** — `application/json` with `{ regenerate: true, prompt, ... }`.
           Returns a [`Job`](#tag/Jobs) and replaces the image when complete.
           **40 credits**.
      operationId: replaceImage
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: Image file (jpg/jpeg/png/webp/gif/svg). Max 10MB.
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  maxLength: 2000
                  description: Direct image URL (mode 2). Mutually exclusive with `regenerate`.
                regenerate:
                  type: boolean
                  description: If true, regenerate via AI (mode 3); requires `prompt`.
                prompt: { type: string, minLength: 3, maxLength: 1000 }
                style: { type: string, example: photorealistic }
                aspect_ratio: { type: string, example: "16:9" }
            examples:
              direct_url:
                summary: Direct URL swap
                value:
                  url: https://cdn.example.com/new-hero.webp
              regenerate:
                summary: Regenerate via AI
                value:
                  regenerate: true
                  prompt: A serene yoga studio at dusk with golden light
                  style: photorealistic
      responses:
        "200":
          description: Image replaced synchronously (upload or url mode).
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/Image" }
        "202":
          description: Regeneration queued (regenerate mode).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "413":
          description: Uploaded file exceeds 10MB.
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Error" }
        "422":
          description: Missing replacement mode (no `file`, `url`, or `regenerate`).
          content:
            application/problem+json:
              schema: { $ref: "#/components/schemas/Error" }
        "503": { $ref: "#/components/responses/ServiceUnavailable" }
      x-codeSamples:
        - lang: curl
          label: cURL (upload)
          source: |
            curl -X PUT https://api.neuraldraft.io/v1/images/hero.background \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -F "file=@hero.jpg"
        - lang: node
          label: Node (SDK)
          source: |
            await nd.images.replaceFile("hero.background", fs.createReadStream("hero.jpg"));
        - lang: python
          label: Python
          source: |
            requests.put(
                "https://api.neuraldraft.io/v1/images/hero.background",
                headers={"Authorization": f"Bearer {key}"},
                files={"file": open("hero.jpg", "rb")},
            )
        - lang: php
          label: PHP
          source: |
            <?php
            $client->put('images/hero.background', [
              'headers' => ['Authorization' => 'Bearer '.$key],
              'multipart' => [['name' => 'file', 'contents' => fopen('hero.jpg','r')]],
            ]);
    delete:
      tags: [Images]
      summary: Delete an image
      operationId: deleteImage
      responses:
        "204": { description: Deleted. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X DELETE https://api.neuraldraft.io/v1/images/hero.background \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            await nd.images.delete("hero.background");
        - lang: python
          label: Python
          source: |
            requests.delete(
                "https://api.neuraldraft.io/v1/images/hero.background",
                headers={"Authorization": f"Bearer {key}"},
            )
        - lang: php
          label: PHP
          source: |
            <?php
            $client->delete('images/hero.background', [
              'headers' => ['Authorization' => 'Bearer '.$key],
            ]);
  /blog-posts:
    get:
      tags: [Blog]
      summary: List blog posts
      description: |
        Paginated list of blog posts. Supports filtering by status, language,
        category, and free-text search. Read-only. Does not consume credits.
      operationId: listBlogPosts
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [draft, published, scheduled, archived] }
        - in: query
          name: lang
          schema: { type: string, example: en }
          description: Returns the translation in this language (falls back to default).
        - in: query
          name: category_id
          schema: { type: integer }
        - in: query
          name: search
          schema: { type: string }
        - $ref: "#/components/parameters/PageQuery"
        - $ref: "#/components/parameters/PageSizeQuery"
      responses:
        "200":
          description: Paginated post list.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/PaginationEnvelope"
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: "#/components/schemas/BlogPost" }
              examples:
                two_posts:
                  value:
                    data:
                      - id: 142
                        slug: 5-minute-breathwork-for-anxious-mornings
                        status: published
                        featured_image: https://cdn.neuraldraft.io/prj_2NfQmBcKpXY8/blog/breathwork.jpg
                        published_at: "2026-04-12T07:00:00Z"
                        scheduled_at: null
                        title: 5-minute breathwork for anxious mornings
                        excerpt: A simple sequence to settle the nervous system before the day begins.
                        category:
                          id: 7
                          name: Wellness
                          slug: wellness
                        tags: [{id: 21, name: breathwork, slug: breathwork}]
                        translations:
                          - { lang: en, title: "5-minute breathwork for anxious mornings", content: "<p>Mornings are when the body holds the most cortisol…</p>" }
                      - id: 141
                        slug: prenatal-yoga-poses-by-trimester
                        status: published
                        featured_image: https://cdn.neuraldraft.io/prj_2NfQmBcKpXY8/blog/prenatal.jpg
                        published_at: "2026-04-09T10:00:00Z"
                        scheduled_at: null
                        title: Prenatal yoga poses by trimester
                        excerpt: A trimester-by-trimester guide to safe, supportive movement.
                        category: {id: 7, name: Wellness, slug: wellness}
                        tags: [{id: 22, name: prenatal, slug: prenatal}]
                        translations:
                          - { lang: en, title: "Prenatal yoga poses by trimester", content: "<p>Each trimester brings a different focus…</p>" }
                    meta: { page: 1, page_size: 20, total: 142 }
        "401": { $ref: "#/components/responses/Unauthorized" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl "https://api.neuraldraft.io/v1/blog-posts?status=published&lang=en&page=1" \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            const posts = await nd.blogPosts.list({ status: "published", lang: "en" });
        - lang: python
          label: Python
          source: |
            posts = requests.get(
                "https://api.neuraldraft.io/v1/blog-posts",
                params={"status": "published", "lang": "en"},
                headers={"Authorization": f"Bearer {key}"},
            ).json()
        - lang: php
          label: PHP
          source: |
            <?php
            $posts = json_decode((string) $client->get('blog-posts', [
              'query' => ['status' => 'published', 'lang' => 'en'],
              'headers' => ['Authorization' => 'Bearer '.$key],
            ])->getBody(), true);
    post:
      tags: [Blog]
      summary: Create a blog post
      description: |
        Two creation modes:

        1. **Manual** — provide `title`, `content` (HTML), `excerpt`, etc. The
           post is saved immediately as a draft. Costs 0 credits.
        2. **AI generation** — provide `ai: { topic, style?, word_count?,
           translate_to_all?, primary_keyword?, ... }`. Returns a
           [`Job`](#tag/Jobs) with `type: blog_post.generate`. The post
           appears in the database when the job completes. Costs **400 credits**
           (full pipeline: research → write → image → translate → SEO).
      operationId: createBlogPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/BlogPostManualInput"
                - $ref: "#/components/schemas/BlogPostAIInput"
            examples:
              manual:
                summary: Manual draft
                value:
                  title: Why Mondays don't have to suck
                  slug: why-mondays-dont-have-to-suck
                  content: <p>Here's a simple framework…</p>
                  excerpt: A simple framework for resetting the week.
                  language_code: en
                  category_id: 7
                  status: draft
              ai:
                summary: AI-generated post
                value:
                  ai:
                    topic: 5-minute breathwork for anxious mornings
                    style: friendly_professional
                    word_count: 1200
                    primary_keyword: morning breathwork
                    secondary_keywords: [box breathing, nervous system reset]
                    translate_to_all: true
                    enable_research: true
                    image_style: warm_lifestyle_photo
      responses:
        "201":
          description: Manual post created (synchronous).
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BlogPost" }
        "202":
          description: AI generation job queued.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
              examples:
                queued:
                  value:
                    id: job_2Ngd9KqLmRpW
                    type: blog_post.generate
                    status: pending
                    progress: 0
                    created_at: "2026-04-19T10:14:02Z"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
      x-codeSamples:
        - lang: curl
          label: cURL (AI)
          source: |
            curl -X POST https://api.neuraldraft.io/v1/blog-posts \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -H "Content-Type: application/json" \
              -d '{"ai":{"topic":"5-minute breathwork","word_count":1200}}'
        - lang: node
          label: Node (SDK)
          source: |
            const job = await nd.blogPosts.generate({ topic: "5-minute breathwork", wordCount: 1200 });
            const result = await nd.jobs.wait(job.id);
        - lang: python
          label: Python
          source: |
            job = requests.post(
                "https://api.neuraldraft.io/v1/blog-posts",
                headers={"Authorization": f"Bearer {key}"},
                json={"ai": {"topic": "5-minute breathwork", "word_count": 1200}},
            ).json()
        - lang: php
          label: PHP
          source: |
            <?php
            $job = json_decode((string) $client->post('blog-posts', [
              'headers' => ['Authorization' => 'Bearer '.$key],
              'json' => ['ai' => ['topic' => '5-minute breathwork', 'word_count' => 1200]],
            ])->getBody(), true);
  /blog-posts/{id_or_slug}:
    parameters:
      - in: path
        name: id_or_slug
        required: true
        schema: { type: string }
        description: Numeric ID or slug. Slugs are accepted for public read flows.
        example: 5-minute-breathwork-for-anxious-mornings
    get:
      tags: [Blog]
      summary: Get a blog post
      description: |
        Returns a single post resolved by either numeric id or slug. The
        `lang` query parameter controls which translation is returned in the
        flat `title`/`content`/`excerpt` fields (`translations[]` always
        contains every available locale).

        Read-only. Does not consume credits.
      operationId: getBlogPost
      parameters:
        - in: query
          name: lang
          schema: { type: string, example: en }
      responses:
        "200":
          description: The post.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BlogPost" }
              examples:
                full_post:
                  value:
                    id: 142
                    slug: 5-minute-breathwork-for-anxious-mornings
                    status: published
                    featured_image: https://cdn.neuraldraft.io/prj_2NfQmBcKpXY8/blog/breathwork.jpg
                    published_at: "2026-04-12T07:00:00Z"
                    scheduled_at: null
                    title: 5-minute breathwork for anxious mornings
                    excerpt: A simple sequence to settle the nervous system before the day begins.
                    content: <p>Mornings are when the body holds the most cortisol…</p>
                    meta_title: Morning breathwork for anxiety | Lakeside Yoga
                    meta_description: A 5-minute breathwork sequence to calm anxious mornings.
                    category: { id: 7, name: Wellness, slug: wellness }
                    tags: [{ id: 21, name: breathwork, slug: breathwork }]
                    translations:
                      - lang: en
                        title: 5-minute breathwork for anxious mornings
                        excerpt: A simple sequence to settle the nervous system before the day begins.
                        content: <p>Mornings are when the body holds the most cortisol…</p>
                        meta_title: Morning breathwork for anxiety | Lakeside Yoga
                        meta_description: A 5-minute breathwork sequence to calm anxious mornings.
                      - lang: fr
                        title: Respiration de 5 minutes pour les matins anxieux
                        excerpt: Une séquence simple pour apaiser le système nerveux le matin.
                        content: <p>Les matins sont…</p>
                        meta_title: Respiration matinale | Lakeside Yoga
                        meta_description: Une séquence de respiration de 5 minutes pour les matins anxieux.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl "https://api.neuraldraft.io/v1/blog-posts/5-minute-breathwork-for-anxious-mornings?lang=en" \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            const post = await nd.blogPosts.get("5-minute-breathwork-for-anxious-mornings", { lang: "en" });
        - lang: python
          label: Python
          source: |
            post = requests.get(
                "https://api.neuraldraft.io/v1/blog-posts/5-minute-breathwork-for-anxious-mornings",
                params={"lang": "en"},
                headers={"Authorization": f"Bearer {key}"},
            ).json()
        - lang: php
          label: PHP
          source: |
            <?php
            $post = json_decode((string) $client->get('blog-posts/5-minute-breathwork-for-anxious-mornings', [
              'query' => ['lang' => 'en'],
              'headers' => ['Authorization' => 'Bearer '.$key],
            ])->getBody(), true);
    patch:
      tags: [Blog]
      summary: Update a blog post
      description: Partial update. Numeric id only.
      operationId: updateBlogPost
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BlogPostUpdate" }
            examples:
              edit_excerpt:
                value:
                  excerpt: An even better one-liner.
      responses:
        "200":
          description: Updated post.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BlogPost" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X PATCH https://api.neuraldraft.io/v1/blog-posts/142 \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -H "Content-Type: application/json" \
              -d '{"excerpt":"An even better one-liner."}'
        - lang: node
          label: Node (SDK)
          source: |
            await nd.blogPosts.update(142, { excerpt: "An even better one-liner." });
        - lang: python
          label: Python
          source: |
            requests.patch(
                "https://api.neuraldraft.io/v1/blog-posts/142",
                headers={"Authorization": f"Bearer {key}"},
                json={"excerpt": "An even better one-liner."},
            )
        - lang: php
          label: PHP
          source: |
            <?php
            $client->patch('blog-posts/142', [
              'headers' => ['Authorization' => 'Bearer '.$key],
              'json' => ['excerpt' => 'An even better one-liner.'],
            ]);
    delete:
      tags: [Blog]
      summary: Delete a blog post
      operationId: deleteBlogPost
      responses:
        "204": { description: Deleted. }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X DELETE https://api.neuraldraft.io/v1/blog-posts/142 \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            await nd.blogPosts.delete(142);
        - lang: python
          label: Python
          source: |
            requests.delete("https://api.neuraldraft.io/v1/blog-posts/142",
              headers={"Authorization": f"Bearer {key}"})
        - lang: php
          label: PHP
          source: |
            <?php
            $client->delete('blog-posts/142', ['headers' => ['Authorization' => 'Bearer '.$key]]);
  /blog-posts/{id}/publish:
    parameters:
      - $ref: "#/components/parameters/BlogPostIdPath"
    post:
      tags: [Blog]
      summary: Publish a blog post
      description: |
        Sets `status: published` and `published_at: now()`. Fires
        `blog_post.published` webhook. No credit cost.
      operationId: publishBlogPost
      responses:
        "200":
          description: Published.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BlogPost" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X POST https://api.neuraldraft.io/v1/blog-posts/142/publish \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            await nd.blogPosts.publish(142);
        - lang: python
          label: Python
          source: |
            requests.post("https://api.neuraldraft.io/v1/blog-posts/142/publish",
              headers={"Authorization": f"Bearer {key}"})
        - lang: php
          label: PHP
          source: |
            <?php
            $client->post('blog-posts/142/publish', ['headers' => ['Authorization' => 'Bearer '.$key]]);
  /blog-posts/{id}/schedule:
    parameters:
      - $ref: "#/components/parameters/BlogPostIdPath"
    post:
      tags: [Blog]
      summary: Schedule a blog post
      description: |
        Sets `status: scheduled` and `scheduled_at` to the provided ISO 8601
        timestamp. The post auto-publishes at that time and fires
        `blog_post.published`.
      operationId: scheduleBlogPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [scheduled_at]
              properties:
                scheduled_at:
                  type: string
                  format: date-time
                  example: "2026-04-25T07:00:00Z"
      responses:
        "200":
          description: Scheduled.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BlogPost" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X POST https://api.neuraldraft.io/v1/blog-posts/142/schedule \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -H "Content-Type: application/json" \
              -d '{"scheduled_at":"2026-04-25T07:00:00Z"}'
        - lang: node
          label: Node (SDK)
          source: |
            await nd.blogPosts.schedule(142, "2026-04-25T07:00:00Z");
        - lang: python
          label: Python
          source: |
            requests.post(
                "https://api.neuraldraft.io/v1/blog-posts/142/schedule",
                headers={"Authorization": f"Bearer {key}"},
                json={"scheduled_at": "2026-04-25T07:00:00Z"},
            )
        - lang: php
          label: PHP
          source: |
            <?php
            $client->post('blog-posts/142/schedule', [
              'headers' => ['Authorization' => 'Bearer '.$key],
              'json' => ['scheduled_at' => '2026-04-25T07:00:00Z'],
            ]);
  /blog-posts/{id}/translate:
    parameters:
      - $ref: "#/components/parameters/BlogPostIdPath"
    post:
      tags: [Blog]
      summary: Translate a blog post
      description: |
        Asynchronously translates the post (title, content, excerpt, meta_title,
        meta_description) into one or more target languages. Returns a
        [`Job`](#tag/Jobs) with `type: translation.batch`. On completion, the
        post's `translations[]` array contains the new locales.

        Costs **70 credits per target language**.
      operationId: translateBlogPost
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target_langs]
              properties:
                target_langs:
                  type: array
                  items: { type: string }
                  example: [fr, de, es]
      responses:
        "202":
          description: Translation job queued.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Job" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "402": { $ref: "#/components/responses/PaymentRequired" }
        "404": { $ref: "#/components/responses/NotFound" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X POST https://api.neuraldraft.io/v1/blog-posts/142/translate \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -H "Content-Type: application/json" \
              -d '{"target_langs":["fr","de","es"]}'
        - lang: node
          label: Node (SDK)
          source: |
            const job = await nd.blogPosts.translate(142, ["fr","de","es"]);
        - lang: python
          label: Python
          source: |
            job = requests.post(
                "https://api.neuraldraft.io/v1/blog-posts/142/translate",
                headers={"Authorization": f"Bearer {key}"},
                json={"target_langs": ["fr","de","es"]},
            ).json()
        - lang: php
          label: PHP
          source: |
            <?php
            $job = json_decode((string) $client->post('blog-posts/142/translate', [
              'headers' => ['Authorization' => 'Bearer '.$key],
              'json' => ['target_langs' => ['fr','de','es']],
            ])->getBody(), true);
  /categories:
    get:
      tags: [Blog]
      summary: List blog categories
      operationId: listCategories
      description: Read-only. Does not consume credits.
      responses:
        "200":
          description: Array of categories.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/Category" }
              examples:
                cats:
                  value:
                    data:
                      - { id: 7, name: Wellness, slug: wellness }
                      - { id: 8, name: Studio news, slug: studio-news }
        "401": { $ref: "#/components/responses/Unauthorized" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl https://api.neuraldraft.io/v1/categories \
              -H "Authorization: Bearer ndsk_live_yourkey"
        - lang: node
          label: Node (SDK)
          source: |
            const cats = await nd.categories.list();
        - lang: python
          label: Python
          source: |
            cats = requests.get("https://api.neuraldraft.io/v1/categories",
              headers={"Authorization": f"Bearer {key}"}).json()["data"]
        - lang: php
          label: PHP
          source: |
            <?php
            $cats = json_decode((string) $client->get('categories', [
              'headers' => ['Authorization' => 'Bearer '.$key],
            ])->getBody(), true)['data'];
    post:
      tags: [Blog]
      summary: Create a category
      operationId: createCategory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, example: Wellness }
                slug: { type: string, example: wellness }
      responses:
        "201":
          description: Created.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Category" }
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }
      x-codeSamples:
        - lang: curl
          label: cURL
          source: |
            curl -X POST https://api.neuraldraft.io/v1/categories \
              -H "Authorization: Bearer ndsk_live_yourkey" \
              -H "Content-Type: application/json" \
              -d '{"name":"Wellness"}'
        - lang: node
          label: Node (SDK)
[...]
